@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

// LogSearch: This is interesting to look at set background image, and also set it to no repeat, but the momemnt you do cover it will take entire width, interesting !!!
#hero {
    background-image: url('./assets/loopstudios/desktop/image-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

// LogSearch: Here when its under max-width then apply this given css instead 
@media(max-width: 576px) {
    #hero {
        background-image: url('./assets/loopstudios/mobile/image-hero.jpg');
        background-position: center;
    }
}